<div fxLayout="row wrap">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">
            Welcome!
        </mat-card-title>
        <mat-card-subtitle class="subtitle">
            This is a To-Do List Application made with <a href="https://angular.io/">Angular</a> and <a href="http://">Firebase</a> 
        </mat-card-subtitle>
        <mat-card-content class="content">
            This application uses Firebase's Auth and Firestore System
        </mat-card-content>        
    </mat-card>
    
    <mat-card class="home mat-elevation-z5">
        <mat-card-title class="second-title">Application Content</mat-card-title>
        <mat-card-content class="app-content">
            <mat-list role="list" class="mat-elevation-z2">
                <mat-list-item role="listitem">
                    <mat-icon matListIcon>fiber_manual_record</mat-icon>
                    At the <a routerLink="/sign-up">Sign-up</a> page you can register a new account
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon matListIcon>fiber_manual_record</mat-icon>
                    After registration, you'll be redirect to the Verify-Email page
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon matListIcon>fiber_manual_record</mat-icon>
                    At the <a href="http://">Sign-in</a> page you can login with your new account
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon matListIcon>fiber_manual_record</mat-icon>
                    If you forgot your password you can go to the <a href="http://">Forgot-Password</a> page
                </mat-list-item>
                <mat-list-item role="listitem">
                    <mat-icon matListIcon>fiber_manual_record</mat-icon>
                    At the <a href="http://">List</a> page you can add, remove and mark itens as complete
                </mat-list-item>
              </mat-list>
        </mat-card-content>
    </mat-card>
</div>


