$button-margin: 5px;

.nav-toggle {
    margin-right: 10px;
    margin-left: -10px;    
}

.title-link {
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-decoration: none;
    color: #000;
}

.left-side-content {    
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header button {
    margin-left: $button-margin;
    margin-right: $button-margin;
}

.header button.active {
    background-color: #ccc;
}

.content {
    display: flex;
    align-items: center;
}